@model User



<div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Home")" id="btnHome" class="btn btn-outline-primary btn-block">
                <img src="~/images/home.gif" alt="Icon" width="20" height="20" class="mr-2" style="margin-left:-100px">
                Home
            </a>
        </li>
        @if (Model.RoleId == 1)
        {
            <li class="nav-item">
                <a href="@Url.Action("Aircraft", "Aircraft")" id="btnAircraft" class="btn btn-outline-primary btn-block">
                    <img src="~/images/Catelog.png" alt="Icon" width="25" height="25" class="mr-2" style="margin-left:-30px">
                    Aircraft Catalog
                </a>
            </li>

            <li class="nav-item">
                <a href="@Url.Action("ManufacturingProgress", "ManufacturingProgress")" id="btnAircraft" class="btn btn-outline-primary btn-block">
                    <img src="~/images/order.png" alt="Icon" width="25" height="25" class="mr-2" style="margin-left:-71px">
                    Order List
                </a>
            </li>
        }
        <li class="nav-item">
            <a href="@Url.Action("Order", "Order")" id="btnPrivacy" class="btn btn-outline-primary btn-block">
                <img src="~/images/MyOrder.png" alt="Icon" width="20" height="20" class="mr-2" style="margin-left:-91px">
                Orders
            </a>
        </li>
        @if (Model.RoleId == 1)
        {
            <li class="nav-item">
                <a href="@Url.Action("Delivery", "Delivery")" id="btnPrivacy" class="btn btn-outline-primary btn-block">
                    <img src="~/images/airportLocation.png" alt="Icon" width="20" height="20" class="mr-2" style="margin-left:-84px">
                    Delivery
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Inventory", "Inventory")" id="btnPrivacy" class="btn btn-outline-primary btn-block">
                    <img src="~/images/inventorynew.png" alt="Icon" width="20" height="20" class="mr-2" style="margin-left:-77px">
                    Inventory
                </a>
            </li>
        }
        <!-- Add other navigation buttons as needed -->
        <li class="nav-item">
            <a href="@Url.Action("Contact", "Contact")" id="btnContact" class="btn btn-outline-primary btn-block">
                <img src="~/images/contactUs.png" alt="Icon" width="20" height="20" class="mr-2" style="margin-left:-67px">
                Contact Us
            </a>
        </li>
        @if (Model.RoleId == 1)
        {
            <li class="nav-item">
                <a href="@Url.Action("UserList", "User")" id="btnContact" class="btn btn-outline-primary btn-block">
                    <img src="~/images/userlist1.png" alt="Icon" width="22" height="22" class="mr-2" style="margin-left:-107px">
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Report", "Report")" id="btnContact" class="btn btn-outline-primary btn-block">
                    <img src="~/images/report.png" alt="Icon" width="22" height="22" class="mr-2" style="margin-left:-88px">
                    Reports
                </a>
            </li>
        }
    </ul>

</div>


