@{
    Layout = null; // No layout initially
}

<!DOCTYPE html>
<html>
<head>
    <!-- Add your meta tags, title, styles, and scripts here -->
    <link rel="stylesheet" href="~/css/site.css" /> <!-- Include CSS reference here -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>

        html, body {
            height: 100%;
            margin: 0;
        }
        /* Set sidebar and content widths */
        .sidebar-light {
            width: 10%;
            float: left;
            height: 1800px;
        }

        #content {
            width: 80%; /* Adjusted to accommodate both content and right sidebar */
            float: left;
            margin-right: 10px; /* Spacing between content and right sidebar */
            height: 100%;
        }

        .right-sidebar {
            width: 10%;
            float: left;
        }

        /* Additional styles for sidebar and content */
        .sidebar-light {
            background-color: #f4f4f4;
            padding: 10px;
            border: 1px solid #ddd;
            height: 1800px;
        }

        .nav-pills li {
            margin-bottom: 5px;
        }

        /* Additional styles for buttons */
        .btn-link {
            text-decoration: none;
            color: #333;
            cursor: pointer;
        }

        /* Button hover color */
        .btn-outline-primary:hover {
            color: #fff; /* Text color on hover */
            background-color: #0076CE; /* Light blue background on hover */
            border-color: #0076CE; /* Light blue border on hover */
        }

        /* Additional styling for the PNG icon */
        .nav-item a img {
            vertical-align: middle; 
            /*margin-left: -50px;*/
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="~/images/plane11.png" alt="Icon" width="33" height="33" class="mr-2">
        <a class="navbar-brand" href="#">Aerospace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
        @*        <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Privacy", "Home")">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Aircraft", "Home")">Aircraft</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                </li>*@
                <li class="nav-item">
                    <a class="btn btn-danger" href="@Url.Action("Login", "User")" style="border-radius:10px;">
                        <img src="~/images/logout.png" alt="Icon" width="20" height="20" class="mr-2" >
                        Log Out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar-light" id="hideclass">
                <!-- Left Sidebar -->
                @*<h3>Left Sidebar</h3>*@
                <!-- Your sidebar content -->
                <ul class="nav flex-column">
                    <li class="nav-item" >
                        <a href="@Url.Action("Index", "Home")" id="btnHome" class="btn btn-outline-primary btn-block">
                            <img src="~/images/home.gif" alt="Icon" width="20" height="20" class="mr-2" style="margin-left:-100px">
                            Home
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a href="@Url.Action("Aircraft", "Aircraft")" id="btnAircraft" class="btn btn-outline-primary btn-block">
                            <img src="~/images/Catelog.png" alt="Icon" width="25" height="25" class="mr-2" style="margin-left:-30px">
                            Aircraft Catalog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("ManufacturingProgress", "ManufacturingProgress")" id="btnAircraft" class="btn btn-outline-primary btn-block">
                            <img src="~/images/order.png" alt="Icon" width="25" height="25" class="mr-2" style="margin-left:-71px">
                            Order List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Order", "Order")" id="btnPrivacy" class="btn btn-outline-primary btn-block">
                            <img src="~/images/MyOrder.png" alt="Icon" width="20" height="20" class="mr-2" style="margin-left:-91px">
                            Orders
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a href="@Url.Action("Delivery", "Delivery")" id="btnPrivacy" class="btn btn-outline-primary btn-block">
                            <img src="~/images/airportLocation.png" alt="Icon" width="20" height="20" class="mr-2" style="margin-left:-84px">
                            Delivery
                        </a>
                    </li>
                    <!-- Add other navigation buttons as needed -->
                    <li class="nav-item" >
                        <a href="@Url.Action("Contact", "Contact")" id="btnContact" class="btn btn-outline-primary btn-block">
                            <img src="~/images/contactUs.png" alt="Icon" width="20" height="20" class="mr-2" style="margin-left:-67px">
                            Contact Us
                        </a>
                    </li>
             @*       <li class="nav-item" >
                        <a href="@Url.Action("Login", "User")" id="btnLogout" class="btn btn-outline-primary btn-block">
                            <img src="~/images/logout.png" alt="Icon" width="20" height="20" class="mr-2" style="margin-left:-93px">
                            Logout
                        </a>
                    </li>*@
                </ul>
            </div>


            <div class="col-md-8" id="content">
                @RenderBody() <!-- This is where the content of individual views will be injected -->
            </div>
            <div class="col-md-2 right-sidebar" id="rightSidebar">
                <!-- Right sidebar content here -->
            </div>
        </div>
    </div>

    <script src="~/bundles/jquery"></script>
    <script src="~/bundles/bootstrap"></script>


    <!-- jQuery and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


@*
    <script>
        $(document).ready(function () {
            // Click event handlers for sidebar buttons
            $('#btnHome').click(function (e) {
                e.preventDefault();
                $('#content').load($(this).attr('href'));
                $('#rightSidebar').hide();
            });

            $('#btnPrivacy').click(function (e) {
                e.preventDefault();
                $('#content').load($(this).attr('href'));
                $('#rightSidebar').hide();
            });

            // Add click event handlers for other buttons similarly
        });
    </script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
